{% extends 'layout.html.twig' %}
{% block content %}
  <div class="header-list-page">
    <h1 class="title">Fácil Tecnologia - Vaga PHP - Écio Silva</h1>
  </div>
  <div class="infor">
    <a href="/questao-1" class="btn-action"><i class="fa fa-list"></i> Questão 1</a>
    <a href="/questao-2" class="btn-action"><i class="fa fa-list"></i> Questão 2</a>
  </div>
  <br /><br />
  <div class="infor">
    
  </div>
  <br /><br />
  
{% endblock %}

{% block javascripts %}{% endblock %}